nav {
  display: flex;
  width: 95vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 223px;
  padding: 30px 0px;
}
.links ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
  font-size: 24px;
  font-weight: 500;
}
.links {
  display: flex;
  gap: 35px;
  align-items: center;
}
a {
  color: white;
}
a:hover {
  color: #3ede3b;
}
.user {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
@media only screen and (min-width: 300px) {
  .logo {
    width: 120px;
  }
  .links ul {
    display: none;
  }
  .user {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 180px;
  }
  .links ul {
    display: none;
  }
  .user {
    width: 35px;
    height: 35px;
  }
  .menu {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1020px) {
  .menu {
    display: none;
  }
  .links ul {
    display: flex;
  }
  .logo {
    width: 223px;
  }
}
